
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
}
.icon-home {
    position: relative;
    height: 15px;
    margin-right: auto;
    padding: 20px;
    font-size: 30px;
    color: rgba(0, 136, 169, 1)
}
.container {
    position: relative;
    margin-left: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.textz h1 {
    font-family: 'Allura', cursive, bold;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    color: rgba(109, 107, 107, 0.884);
}
.textz p {
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(110, 109, 109);
}
.container .card {
    position: relative;
    max-width: 57vw;
    background: whitesmoke;
    margin: 23px;
    padding: 16px;
    display: flex;
}
.container .card .imgBx {
    max-width: 150px;
    flex: 0 0 150px;
}
.container .card .imgBx img {
    max-width: 100%;
    border-radius: 20px;
}
.container .card .content {
    margin-left: 20px;
    color: rgba(78, 77, 77, 0.973)
}
@media (max-width: 991px) {
    .container {
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .container .card {
        flex-direction: column;
        max-width: 350px;
    }
    .container .card .imgBx {
        max-width: 100%;
    }
    .container .card .content {
        margin-left: 20px;
    }
}
.btn{
    margin-left: 45px;
    padding: 9px 29px;
    background-color: rgba(0, 136, 169, 0.8);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.mlinks {
    width: 100%;
    height: auto;
    margin: auto;
    background: none;
    box-sizing: border-box;
}
.smicons {
    width: 90vw;
    height: auto;
    margin: auto;
}
.smicons ul {
    margin: 0px;
    padding: 0px;
    text-align: end;
    margin-top: 10vh;
    margin-left: 60px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.smicons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: rgba(0, 136, 169, 1);
}
.smicons ul li a {
    color: white;
    font-size: 25px;
    display: block;
    transform: translateX(-26%);
}
.smicons ul li a i {
    line-height: 50px;
}
.smicons ul li:hover {
    background: gray;
}